@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
* {
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Ubuntu', sans-serif;
}
:root
{
  --blue:#287bff;
  --white:#fff;
  --grey:#f5f5f5;
  --black1:#222;
  --black2:#999;
}
body {
  min-height:100vh;
  overflow-x:hidden;
}
.container {
  position:relative;
  width:100%;
  
 }
.navigation {
  position:fixed;
  width:300px;
  height:100%;
  background: var(--blue);
  border-left:10px solid #f001f0;
  transition:0.5s;
  overflow:hidden;
} 
.navigation.active {
  width:65px;
}

 .navigation ul  {
  position:absolute;
  top:0;
  left:0;
  width:100%;
} 

.navigation ul li {
  position:relative;
  width:100%;
  list-style:none; 
  border-top-left-radius:30px;
  border-bottom-left-radius:30px;
}  
.navigation ul li:hovered {
  
}
.navigation ul li:hover {
  background:var(--white);
}
.navigation ul li:nth-child(1) {
  margin-bottom:40px;
  pointer-events:none;
}
.navigation ul li a {
  position:relative;
  display:block;
  width:100%;;
  display:flex;
  text-decoration:none;
  color:var(--white);
}
.navigation ul li:hovered a {
  
}
.navigation ul li:hover a {
color:var(--blue);
}
.navigation ul li a .icon {
  position:relative;
  display:block;
  min-width:60px;
  height:60px;
  line-height:60px;
  text-align:center;
}
.navigation ul li a .icon ion-icon {
  font-size:1.75em;
}

.navigation ul li a .title {
  position:relative;
  display:block;
  margin-bottom:15px;
  padding:0 10px;
  height:60px;
  line-height:60px;
  text-align:center;
  white-space:nowarp;
}
.navigation ul li:hover a::before {
  content:'';
  position:absolute;
  right:0;
  top:-50px;
  width:50px;
  height:60px;
  background: transparent;
  border-radius:50%;
  box-shadow:35px 35px 0 10px var(--white);
}
.navigation ul li:hovered a::before {
  
}
.navigation ul li:hover a::after {
  content:'';
  position:absolute;
  right:0;
  bottom:-50px;
  width:50px;
  height:60px;
  background: transparent;
  border-radius:50%;
  box-shadow:35px -35px 0 10px var(--white);
}
.navigation ul li:hovered a::after {
  
}
/* main */
.main {
  position:absolute;
  width:calc(100% - 300px);
  left:300px;
  transition:0.5s;
/*   background:#5c0aab; */
  
}
.main.active {
/*   position:absolute; */
  width:calc(100% - 65px);
  left:65px;
  transition:0.5s;
/*   background:#5c0aab; */
}
.topbar{
  width:100%;
  height:60px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:0 10px;
}
.toggle{
  position:relative;
  width:50px;
  height:50px;
  background:#ccc;
  display:flex;
  justify-content:center;
  fonts-size:2.5em;
  align-items:center;
  cursor:pointer;
}
.search{
  position:relative;
  width:400px;
  margin:0 10px;
  
}
.search label{
  position:relative;
  width:100%;
  
}
.search label input{
  width:100%;
  height:40px;
  border-radius:40px;
  padding:5px 20px ;
  padding-left:40px;
  font-size:16px;
  outline:none;
  border:1px solid var(--black2);
}
.search label ion-icon{
  position:absolute;
  top:0;
  left:10px;
  font-size:1.2em;
    
}
.user{
  position:relative;
  width:40px;
  height:40px;
  display:flex;
  justify-content:center;
  fonts-size:2.5em;
  border-radius:50%;
  overflow:hidden;
  cursor:pointer;
}
.user img {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  object-fit:cover;
/*   object-fit: scale-down; */
}
.cardBox{
  position:relative;
  width:100%;
  padding:20px;
  display:grid;
  grid-template-columns:repeat(4,1fr);
  grid-gap:20px;
}
.cardBox .card{
  position:relative;
  background:var(--white);
  border-radius:20px;
  display:flex;
  justify-content:space-between;
  cursor:pointer;
  padding:30px;
  box-shadow:0 7px 25px rgba(0,0,0,0.88);
}
.cardBox .card .nubers {
  position:relative;
  font-weight:500;
  font-size:2.5em;
  color:var(--blue);
}
.cardBox .card .cardNames {
  position:relative;
  font-size:.8em;
  margin-top:15px;
  color:var(--black2);
}
.cardBox .card .iconBox {
  font-size:3em;
  color:var(--black2);
}
.cardBox .card:hover {
  background:var(--blue);
}
.cardBox .card:hover .iconBox,
.cardBox .card:hover .cardNames,
.cardBox .card:hover .nubers
{
 color:var(--white);
}

.details{
  position:relative;
  width:100%;
  padding:20px;
  display:grid;
  grid-template-columns:2fr 1fr;
  grid-gap:30px;
/*   margin-top:10px; */
}
.details .recentOrders {
  position:relative;
  display:grid;
/*    width:100%; */
  padding:20px; 
  min-height:550px;
  background:var(--white);
  box-shadow:0 7px 25px rgba(0,0,0,0.88);
  border-radius:20px;
}
.cardHeader{
  display:flex;
  justify-content:space-between;
  align-items:flex-start;
}
.cardHeader h2{
  font-weight:600;
  color:var(--blue);
}
.btn{
  position:relative;
  padding:5px 10px;
  background:var(--blue);
  border-radius:8px;
  font-size:15px;
  text-decoration:none;
  box-shadow:0 7px 25px rgba(0,0,0,0.5);
  color:var(--white);
}
.details table{
  width:100%;
  border-collapse:collapse;
  margin-top:10px;
}
.details table thead td{
  font-weight:600;
}
.details .recentOrders table tr{
  color:var(--black1);
  border-bottom:2px solid rgba(0,0,0,.2);
}
.details .recentOrders table tr:last-child{
  border-bottom:none;
}

.details .recentOrders table tr:hover {
  background:var(--blue);
  color:var(--white);
}

.details .recentOrders table tbody tr:hover {
  background:var(--blue);
  color:var(--white);
}
.details .recentOrders table tr td {padding:10px}
.details .recentOrders table tr td:last-child{
  text-align:end;
}
.details .recentOrders table tr td:nth-child(2){
  text-align:end;
}
.details .recentOrders table tr td:nth-child(3){
  text-align:center;
}
.status.delivered {
  padding:2px 4px;
  background:#8de02c;
  color:var(--white);
  border-radius:4px;
  font-size:14px;
  font-weight:400;
}
.recentCustomers{
  position:relative;
  display:grid;
  background:var(--white);
  min-height:550px;
  padding:20px;
  box-shadow:0 7px 25px rgab(0,0,0,.5);
  border-radius:20px;
}
.recentCustomers .imgBx {
  position:relative;
  width:40px;
  height:40px;
  border-radius:50%;
  overflow:hidden;
}
.recentCustomers .imgBx img{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  object-fit:cover;
  
}
.recentCustomers table tr:hover{
  background:var(--blue);
  color:var(--white);
}
.recentCustomers table tr td {
  padding:12px 10px;
  
}
.recentCustomers table tr td h4{
  font-size:16px;
  font-weight:500;
  line-height:1.2em;
}
.recentCustomers table tr td h4 span{
  font-size:14px;
  color:var(--black2);
}
.recentCustomers table tr:hover td h4 span{
  color:var(--white);
}
/* now responsive design */
@media(max-width:991px)
{
  .navigation{left:-300px;}
  .navigation.active{width:300px;left:0px;}
  .main{width:100%;left:0;}
  .main.active{left:300px;}
  .cardBox{grid-template-columns:repeat(2,1fr);}
  
}
/* @media(max-width:768px)
{
  .navigation{left:-300px;}
  .navigation.active{width:300px;left:0px;}
  .main{width:100%;left:0;}
  .main.active{left:300px;}
  .cardBox{grid-template-columns:repeat(2,1fr);}
} */

@media(max-width:768px)
{
  .details{grid-template-columns:repeat(2,1fr);}
  .recentOrders{overflow:auto;}
  .status.inprogress{white-space:nowrap;}
}

@media(max-width:480px)
{
  .cardBox{grid-template-columns:repeat(1,1fr);}
  .cardHeader h2{font-size:20px;}
  .user{min-width:40px;}
  .navigation{width:100%;left:-100%;z-index:1000;}
  .navigation.active{width:100%;left:0;}
  .main.active .toggle{color:var(--white);postion:fixed;right:0;left:initial}
  .toggle{z-index:1000;}
  
/*   .recentOrders{overflow:auto;}
  .status.inprogress{white-space:nowrap;} */
}